$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

$dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$blue: #0095FF;
$dark-blue: #0065AD;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 769px;
$desktop-breakpoint: 1279px;
