@use './styles/partials/_mixins.scss' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0rem;
    font-family: 'Avenir-Next';
}

section {
    padding: 0rem 1rem;

    @include tablet {
        padding: 0rem 2rem;
    }
}

.content {
    display: flex;
    flex-direction: column;


}

.current-video-and-video-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
        display: flex;
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
    }

}


.VideoList {
    width: 100%;
}